{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">الرئيسية</a>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn" type="submit">تسجيل الخروج</button>
                </form>
                <a href="{% url 'profile' %}" class="btn">صفحتي الشخصية</a>
            {% else %}
                <a href="{% url 'signin' %}" class="btn">تسجيل الدخول</a>
                <a href="{% url 'signup' %}" class="btn">إنشاء حساب</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Blog Website. All rights reserved.</p>
    </footer>
</body>
</html>
