<link rel="stylesheet" href="/static/styles.css">
<h1 class="title">الصفحة الرئيسية</h1>
{% if user.is_authenticated %}
    <p>مرحباً {{ user.username }}! <a href="{% url 'profile' %}">صفحتك الشخصية</a> | <a href="{% url 'logout' %}">تسجيل الخروج</a></p>
{% else %}
    <a href="{% url 'login' %}">تسجيل الدخول</a> | <a href="{% url 'signup' %}">إنشاء حساب</a>
{% endif %}

<ul class="post-list">
    {% for post in posts %}
        <li class="post-item">
            <strong>{{ post.title }}</strong> - {{ post.author.username }}<br>
            {{ post.content }}<br>
            <small>تمت إضافته بتاريخ: {{ post.created_at|date:"d-m-Y H:i" }}</small>
        </li>
    {% endfor %}
</ul>